include _mixins/meta.pug

html
    head
        +meta(post.title)
        link(rel="stylesheet", href="/static/css/detail.css")
    body
        h1.page-title #{post.title}
        .page-meta
            if post.user
                img(class="page-meta-avatar" src=post.user.avatar)
                p #{post.user.name}
            p
                a(href=post.url target="_blank" rel="noopener") 原文链接
        .page-article !{post.html}
        script.
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement('script');
                hm.src = 'https://hm.baidu.com/hm.js?7bf8c3ac61d1933fb6add8788b5d1ab8"';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(hm, s);
            })();

