extends layout.pug

block vars
  - var title = "首页"

include _mixins/page.pug

block content
    .page-header
        h1.page-title
            a(href="./") 文章列表
    .row.row-cards.row-deck
        each post in posts
            .col-lg-4
                .card
                    .card-body
                        h4
                            a(href=post.url target="_blank" rel="noopener") #{post.title}
                        .text-muted #{post.description}
                        if post.user
                            .d-flex.align-items-center.pt-5.mt-auto
                                div(class="avatar avatar-md mr-3" style=`background-image: url(${post.user.avatar})`)
                                div
                                    span.text-default #{post.user.name}
                                    small.d-block.text-muted #{moment(post.createAt).startOf('minute').fromNow()}
    .row
        .col-12
            if pages.totalPage > 1
                .card
                    nav.card-body
                        +page(pages)
