extends layout.pug

block vars
  - var title = "首页"

block content
    .page-header
        h1.page-title
            a(href="./") 文章列表
    .row.row-cards.row-deck
        each post in posts
            .col-lg-4
                .card
                    .card-body
                        h4
                            a(href=post.url target="_blank" rel="noopener") #{post.title}
                        .text-muted #{post.description}
                        if post.user
                            .d-flex.align-items-center.pt-5.mt-auto
                                div(class="avatar avatar-md mr-3" style=`background-image: url(${post.user.avatar})`)
                                div
                                    span.text-default #{post.user.name}
                                    small.d-block.text-muted #{moment(post.createAt).startOf('minute').fromNow()}
    .row
        .col-12
            if pages.totalPage > 1
                .card
                    nav.card-body
                        ul.pagination
                            if pages.page > 1
                                li.page-item
                                    a(class="page-link" href=`?page=${pages.page - 1}`) 上页
                            - var i = 1;
                            while i <= pages.totalPage
                                li(class=`page-item ${i === pages.page ? 'active' : ''}`)
                                    a(class="page-link" href=`?page=${i}`) #{i}
                                - i++;
                            if pages.page < pages.totalPage
                                li.page-item
                                    a(class="page-link" href=`?page=${pages.page + 1}`) 下页
