extends layout.pug

block vars
  - var title = "首页"

block content
    div.page-header
        h1.page-title
            a(href="./") 文章列表
    div.row.row-cards.row-deck
        each post in posts
            div.col-lg-4
                div.card
                    .card-header
                        h3.card-title
                            a(href=post.url target="_blank" rel="noopener") #{post.title}
                    .card-body.text-muted #{post.description}
    div.row
        div.col-12
            if pages.totalPage > 1
                div.card
                    nav.card-body
                        ul.pagination
                            if pages.page > 1
                                li.page-item
                                    a(class="page-link" href=`?page=${pages.page - 1}`) 上页
                            - var i = 1;
                            while i <= pages.totalPage
                                li(class=`page-item ${i === pages.page ? 'active' : ''}`)
                                    a(class="page-link" href=`?page=${i}`) #{i}
                                - i++;
                            if pages.page < pages.totalPage
                                li.page-item
                                    a(class="page-link" href=`?page=${pages.page + 1}`) 下页
